<ol class="breadcrumb" ng-if="!$ctrl.isTeamIdDefined()">
    <li><a href="#!/home">Home</a></li>
    <li class="active">Users</li>
</ol>
<mcp-alert></mcp-alert>
<div class="row" ng-if="!$ctrl.isTeamIdDefined() && !$ctrl.isGroupIdDefined()">
    <div class="col-md-10 ">
        <h1>Users</h1>
        <p class="mcp-subtitle">Access and manage all the Users currently active on the MCP platform</p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row" ng-if="$ctrl.isTeamIdDefined() && !$ctrl.isGroupIdDefined()">
    <div class="col-md-12">
        <h3>User</h3>
        <p class="mcp-subtitle">Manage the MCP users. Link them with their Teams.</p>
        <hr/>
    </div>
</div>
<div class="row" ng-if="$ctrl.isGroupIdDefined()">
    <div class="col-md-12">
        <h3>User</h3>
        <p class="mcp-subtitle">Users linked to this group.</p>
        <hr/>
    </div>
</div>
<div class="row" ng-if="!$ctrl.isGroupIdDefined()">
    <div class="col-md-12">
        <form class="form-inline mcp-filter">
            <fieldset>
                <div class="form-group">
                    <label for="nameSerach">Name</label>
                    <input ng-model="$ctrl.query.name" id="nameSerach" class="form-control" placeholder="Filter by name" />
                </div>
                <div class="form-group">
                    <label for="teamSerach">Team</label>
                    <input ng-model="$ctrl.query.teams.name" id="teamSerach" class="form-control" placeholder="Filter by team" />
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-class="{ disabled: $ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareTeamAdd()">Add to team</a></li>
                        <li ng-class="{ disabled: $ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareTeamRemove()">Remove from team</a></li>
                        <li ng-show="!$ctrl.isTeamIdDefined()" role="separator" class="divider"></li>
                        <li ng-show="!$ctrl.isTeamIdDefined()" ng-class="{ disabled: $ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareTeamAdminAdd()">Add to team admins</a></li>
                        <li ng-show="!$ctrl.isTeamIdDefined()" ng-class="{ disabled: $ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareTeamAdminRemove()">Remove from team admins</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-class="{ disabled: !$ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareGroupAdd()">Add to group</a></li>
                        <li ng-class="{ disabled: !$ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareGroupRemove()">Remove from group</a></li>
                    </ul>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr/>
<div class="row" ng-if="!$ctrl.isGroupIdDefined()">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-vcentered">
            <tr class="active">
                <th class="checkbox-column" >
                    <input type="checkbox" ng-model="$ctrl.master" ng-change="$ctrl.selectUsers($ctrl.selectedUsers)" />
                </th>
                <th>Name</th>
                <th>{{$ctrl.printTitle()}}</th>
                <th ng-if="!$ctrl.isTeamIdDefined()" >Admin</th>
            </tr>
            <tr ng-repeat="user in $ctrl.filteredUsers = ($ctrl.users | filter:$ctrl.query)">
                <td>
                    <input type="checkbox" class="" ng-checked="$ctrl.exists(user, $ctrl.selectedUsers)" ng-click="$ctrl.toggle(user, $ctrl.selectedUsers)" />
                </td>
                <td>{{user.name}}</td>
                <td>
                    <span ng-if="$ctrl.isTeamIdDefined()" ng-repeat="group in user.groups" class="badge badge-margin">{{group.name}}</span>
                    <span ng-if="!$ctrl.isTeamIdDefined()" ng-repeat="team in user.teams" class="badge badge-margin">{{team.name}}</span>
                </td>
                <td ng-if="!$ctrl.isTeamIdDefined()" ><span ng-repeat="team in user.teamAdmins" class="badge badge-margin">{{team.name}}</span></td>
                <!-- <td><span>{{user.role[0].name}}</span></td> -->
            </tr>
        </table>
    </div>
</div>
<div class="row" ng-if="$ctrl.isGroupIdDefined()">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-vcentered">
            <tr class="active">
                
                <th >Name</th>
                
            </tr>
            <tr ng-repeat="user in $ctrl.users">
                
                <td>{{user.name}}</td>
                
            </tr>
        </table>
    </div>
</div>