.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.badge-margin {
    margin-right: 10px;
}

.mcp-tabs-container .nav-tabs {
    margin-bottom: 15px;
}

.dropdown-menu a {
    cursor: pointer;
}

.mcp-subtitle {
    font-size: 1.15em;
}

.add-button a {
    margin-top: 33px;
}

.title-line {
    margin: 20px 0 40px;
}

.actions-column {
    width: 170px;
}


/* ************************************************* */


/* table styles */

table.table-vcentered > tbody > tr > th,
table.table-vcentered > tbody > tr > td {
    vertical-align: middle;
}

.col_33 {
    width: 33%;
}

.col_50 {
    width: 50%;
}

.col_20 {
    width: 20%;
}

.col_40 {
    width: 40%;
}


/* ************************************************* */

.mcp-filter {
    text-align: right;
}

.mcp-filter label {
    margin-left: 15px;
    margin-right: 15px;
}

.mcp-filter input {
    border: 1px solid #ccc;
    box-shadow: none;
}

.mcp-filter .btn-group {
    margin-left: 30px;
}

.rule-group {
    padding-top: 50px;
}

#map {
    height: 450px;
    margin-bottom: 30px;
}

.checkbox.mcp-checkbox{
    margin-right: 20px;
    display: inline-block;
}

p.has-error{
	color: #a94442;
}