<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><span class="h3">MCP Groups:</span>
                <button class="pull-right btn btn-info" ng-click="$ctrl.addGroup()">add group</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr class="active">
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="group in $ctrl.groups">
                    <td>{{group.name}}</td>
                    <td><a href="#!/groups/{{group.id}}" class="btn btn-default btn-sm">Details <i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href="" class="btn btn-danger btn-sm">Delete <i class="glyphicon glyphicon-minus-sign"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>