<ol class="breadcrumb">
    <li><a href="#!/home">Home</a></li>
    <li><a href="#!/teams">Teams</a></li>
    <li><a href="#!/teams/{{$ctrl.team.id}}">{{$ctrl.team.name}}</a></li>
    <li><a href="#!/teams/{{$ctrl.team.id}}">Groups</a></li>
    <li class="active">{{$ctrl.group.name}}</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <h1>Group: <strong>{{$ctrl.group.name}}</strong><small> {{$ctrl.group.description}}</small></h1>
        <p class="mcp-subtitle">Access and manage all details of <strong>{{$ctrl.group.name}}</strong> group.</p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mcp-tabs-container">
        <uib-tabset active="$ctrl.activeTab">
            <uib-tab index="0" heading="Rules" select="$ctrl.findRules()">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Rules</h3>
                        <p class="mcp-subtitle">Access and manage all the Rules currently active on this Group.</p>
                    </div>
                    <div class="col-md-3 text-center add-button">
                        <a class="btn btn-info" href="#!teams/{{$ctrl.team.id}}/groups/{{$ctrl.group.id}}/rules/create">Add Rule <i
                        class="glyphicon glyphicon-plus-sign"></i></a>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover" ng-show="$ctrl.rules.length > 0">
                            <tr class="active">
                                <th>Name</th>
                                <th class="actions-column text-center">Actions</th>
                            </tr>
                            <tr ng-repeat="rule in $ctrl.rules">
                                <td>{{rule.name}}</td>
                                <td>
                                    <a href="#!teams/{{$ctrl.team.id}}/groups/{{$ctrl.group.id}}/rules/{{rule.id}}" class="btn btn-default btn-sm">Details<i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".mcp-modal-sm" ng-click="$ctrl.configureModal(rule.id, 'delete')">Delete <i class="glyphicon glyphicon-minus-sign"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal fade mcp-modal-sm" tabindex="-1" rule="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm" rule="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">{{$ctrl.modaltitle}}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{$ctrl.modalmessage}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.activateCommand()">{{$ctrl.modalbutton}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Users">
                <mcp-user></mcp-user>
            </uib-tab>
            <uib-tab index="2" heading="Details">
                <div class="row">
                    <div class="col-md-12">
                        <h3><strong>{{$ctrl.group.name}}</strong> details</h3>
                        <p>Manage group details.</p>
                        <hr/>
                        <form novalidate name="groupForm" ng-submit="$ctrl.save()">
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.name }">
                                <label for="inputGroupName">Name</label>
                                <input type="text" class="form-control" id="inputGroupName" placeholder="Name" name="name" ng-model="$ctrl.group.name" />
                                <p ng-show="$ctrl.errors.name" class="help-block">{{$ctrl.errors.name}}</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.description }">
                                <label for="inputGroupDescription">Description</label>
                                <input type="text" class="form-control" id="inputGroupDescription" placeholder="Description" name="description" ng-model="$ctrl.group.description" />
                                <p ng-show="$ctrl.errors.description" class="help-block">{{$ctrl.errors.description}}</p>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label for="inputGroupSms" class="control-label">SMS notification</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="$ctrl.group.isSmsNotificationActive" ng-checked="$ctrl.group.isSmsNotificationActive"> Activate group's member sms notification
                                    </label>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label for="inputGroupSms" class="control-label">Email notification</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="$ctrl.group.isUserEmailNotificationActive" ng-checked="$ctrl.group.isUserEmailNotificationActive" > Activate group's member email notification 
                                    </label>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.mailingList }">
                                <label for="inputGroupMailingList" class="control-label">Mailing list notification</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="$ctrl.group.isMailingListRequired" ng-checked="$ctrl.group.isMailingListRequired" ng-change="$ctrl.manageMailField($ctrl.group.isMailingListRequired, 'mailingList')"> Send notification to Group mailing list
                                    </label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input type="text" class="form-control" id="inputGroupMailingList" placeholder="Mailing list" name="mailingList" ng-model="$ctrl.group.mailingList" ng-disabled="!$ctrl.group.isMailingListRequired" />
                                </div>
                                <p class="help-block">If this field is compiled, then notifications are sent to this group, otherwise notifications are sent to each users of the group.</p>
                                <p ng-show="$ctrl.errors.mailingList" class="help-block">{{$ctrl.errors.mailingList}}</p>
                            </div>
                            <hr/>
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.facebookEmail }">
                                <label for="inputGroupMailingList" class="control-label">Facebook notification</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="$ctrl.group.isFacebookEmailRequired" ng-checked="$ctrl.group.isFacebookEmailRequired" ng-change="$ctrl.manageMailField($ctrl.group.isFacebookEmailRequired, 'facebookEmail')"> Activate notifications on Facebook group
                                    </label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="ion-social-facebook"></i></span>
                                    <input type="text" class="form-control" id="inputGroupFacebookEmail" placeholder="Facebook mail group" name="facebookEmail" ng-model="$ctrl.group.facebookEmail" ng-disabled="!$ctrl.group.isFacebookEmailRequired" />
                                </div>
                                <p class="help-block">If this field is compiled, then notifications will be sent to Facebook group and then posted on it.</p>
                                <p ng-show="$ctrl.errors.facebookEmail" class="help-block">{{$ctrl.errors.facebookEmail}}</p>
                            </div>
                            <hr/>
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.twitterEmail }">
                                <label for="inputGroupTwitterEmail" class="control-label">Twitter notification</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="$ctrl.group.isTwitterEmailRequired" ng-checked="$ctrl.group.isTwitterEmailRequired" ng-change="$ctrl.manageMailField($ctrl.group.isTwitterEmailRequired, 'twitterEmail')"> Activate notification on Twitter account
                                    </label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="ion-social-twitter"></i></span>
                                    <input type="text" class="form-control" id="inputGroupTwitterEmail" placeholder="Twitter mail group" name="twitterEmail" ng-model="$ctrl.group.twitterEmail" ng-disabled="!$ctrl.group.isTwitterEmailRequired" />
                                </div>
                                <p class="help-block">If this field is compiled, then notifications will be sent to Twitter account and then posted on it.</p>
                                <p ng-show="$ctrl.errors.twitterEmail" class="help-block">{{$ctrl.errors.twitterEmail}}</p>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Save <i class="glyphicon glyphicon-floppy-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>