<!-- userOwnershipModal -->
<div id="userOwnershipModal.html">
    <!-- modal-header -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
        </button>
        <h4 class="modal-title" id="userModalLabel" ng-if="$ctrl.configureModal == 'team'">Team Users management</h4>
        <h4 class="modal-title" id="userModalLabel" ng-if="$ctrl.configureModal == 'group'">Group Users management</h4>
    </div>
    <!-- modal-header / -->
    <!-- modal-body -->
    <div class="modal-body">
        <p ng-if="$ctrl.action == 'saveUserTeam' ">Add users to team</p>
        <p ng-if="$ctrl.action == 'saveUserGroup' ">Add users to group</p>
        <p ng-if="$ctrl.action == 'removeUserTeam' ">Remove users from team</p>
        <p ng-if="$ctrl.action == 'removeUserGroup' ">Remove users from group</p>
        <div class="form-vertical">
            <select class="form-control" 
                    ng-if="$ctrl.configureModal == 'team'" 
                    ng-options="team as team.name for team in $ctrl.teams" 
                    ng-model="$ctrl.selectedTeam">
            </select>
            <select class="form-control" 
                    ng-if="$ctrl.configureModal == 'group'" 
                    ng-options="group as group.name for group in $ctrl.groups" 
                    ng-model="$ctrl.selectedGroup">
            </select>
        </div>
    </div>
    <!-- modal-body / -->
    <!-- modal-footer / -->
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.activateAction()">Save changes</button>
    </div>
    <!-- modal-footer / -->
</div>
<!-- userOwnershipModal / -->
