
    <ol class="breadcrumb" ng-if="!$ctrl.isTeamIdDefined()">
        <li><a href="#!/home">Home</a></li>
        <li class="active">Topics</li>
    </ol>
    <div class="row" ng-if="!$ctrl.isTeamIdDefined()">
        <div class="col-md-9">
            <h1>Topics</h1>
            <p class="mcp-subtitle">Manage the MCP topics. Link them with the relevant Teams.</p>
        </div>
        <div class="col-md-3 text-center add-button">
            <a class="btn btn-info" href="#!topics/create">Add Topic <i class="glyphicon glyphicon-plus-sign"></i></a>
        </div>
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.isTeamIdDefined()">
        <div class="col-md-12">
            <h3>Topic</h3>
            <p class="mcp-subtitle">Access and manage all the Topics currently active.</p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline mcp-filter">
                <fieldset>
                    <div class="form-group">
                        <label for="nameSerach">Name</label>
                        <input ng-model="$ctrl.query.name" id="nameSerach" class="form-control"  placeholder="Filter by name" />
                    </div>
                    <div class="form-group">
                        <label for="teamSerach">Team</label>
                        <input ng-model="$ctrl.query.teams.name" id="teamSerach" class="form-control" placeholder="Filter by team" />
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-class="{ disabled: $ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareTeamAdd()">Add to team</a></li>
                            <li ng-class="{ disabled: $ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareTeamRemove()">Remove from team</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-class="{ disabled: $ctrl.isGroupIdDefined() || !$ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareGroupAdd()">Add to group</a></li>
                            <li ng-class="{ disabled: $ctrl.isGroupIdDefined() || !$ctrl.isTeamIdDefined()}"><a ng-click="$ctrl.prepareGroupRemove()">Remove from group</a></li>
                        </ul>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-vcentered">
                <tr class="active">
                    <th class="checkbox-column">
                        <input type="checkbox" ng-model="$ctrl.master" ng-change="$ctrl.selectTopics($ctrl.selectedTopics)" />
                    </th>
                    <th class="{{$crtl.isTeamIdDefined() ? 'col_50' : 'col_40'}}">Name</th>
                    <th class="{{$ctrl.isTeamIdDefined() ? 'col_50' : 'col_40'}}">{{$ctrl.printTitle()}}</th>
                    <th ng-if="!$ctrl.isTeamIdDefined()" class="col_20 text-center">Actions</th>
                </tr>
                <tr ng-repeat="topic in $ctrl.filteredTopics = ($ctrl.topics | filter:$ctrl.query)">
                    <td>
                        <input type="checkbox" class="" ng-checked="$ctrl.exists(topic, $ctrl.selectedTopics)" ng-click="$ctrl.toggle(topic, $ctrl.selectedTopics)" />
                    </td>
                    <td>{{topic.name}}</td>
                    <td>
                        <span ng-if="$ctrl.isGroupIdDefined()" ng-repeat="rule in topic.rules" class="badge badge-margin">{{rule.name}}</span>
                        <span ng-if="$ctrl.isTeamIdDefined() && !$ctrl.isGroupIdDefined()" ng-repeat="group in topic.groups" class="badge badge-margin">{{group.name}}</span>
                        <span ng-if="!$ctrl.isTeamIdDefined()" ng-repeat="team in topic.teams" class="badge badge-margin">{{team.name}}</span>
                    </td>
                    <td ng-if="!$ctrl.isTeamIdDefined()" class="text-center">
                        <a href="#!/topics/{{topic.id}}" class="btn btn-default btn-sm">Details <i class="glyphicon glyphicon-edit"></i></a>
                        <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".mcp-modal-sm" ng-click="$ctrl.configureModal(topic.id, 'delete')">Delete <i class="glyphicon glyphicon-minus-sign"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal fade mcp-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">{{$ctrl.modaltitle}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{$ctrl.modalmessage}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.activateCommand()">{{$ctrl.modalbutton}}</button>
                </div>
            </div>
        </div>
    </div>
