<ol class="breadcrumb">
    <li><a href="#!/home">Home</a></li>
    <li><a href="#!/topics">Topics</a></li>
    <li class="active">{{$ctrl.topic.name}}</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <h1>Topic: <strong>{{$ctrl.topic.name}}</strong> <small>{{$ctrl.topic.description}}</small></h1>
        <p class="mcp-subtitle">Access and manage all details of <strong>{{$ctrl.topic.name}}</strong> topic</p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="topicForm" ng-submit="$ctrl.save()">
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.name }">
                <label for="inputTopicName" class="control-label">Name</label>
                <input type="text" class="form-control" id="inputTopicName" placeholder="Name" name="name" ng-model="$ctrl.topic.name" />
                <p ng-show="$ctrl.errors.name" class="help-block">{{$ctrl.errors.name}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.description}">
                <label for="inputTopicDescription" class="control-label">Description</label>
                <input type="text" class="form-control" id="inputTopicDescription" placeholder="Description" name="description" ng-model="$ctrl.topic.description" />
                <p ng-show="$ctrl.errors.description" class="help-block">{{$ctrl.errors.description}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.contentType}">
                <label for="inputTopicContentType" class="control-label">ContentType</label>
                <select class="form-control" ng-options="contentType.id as contentType.name for contentType in $ctrl.contentTypes" ng-model="$ctrl.topic.contentType">
                </select>
                <p ng-show="$ctrl.errors.contentType" class="help-block">{{$ctrl.errors.contentType}}</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save <i class="glyphicon glyphicon-floppy-save"></i></button>
            </div>
        </form>
    </div>
</div>
