
    <div class="row">
        <div style="padding: 50px 0;">
            <img src="resources/img/logo_c2sense.png" class="img-responsive" alt="Responsive image" />
        </div>
        <div class="page-header">
            <h1 class="text-center" style="font-size: 40px; font-weight: bold;">Message Communication Platform </h1>
        </div>
    </div>
    <div class="row" style="padding: 50px 0;">
        <div class="col-md-3 col-md-offset-0">
            <div class="row">
                <h2 class="text-center">Teams <i class="ion-ios-people"></i></h2>
                <p>Manage the MCP teams. Create new Teams, access their details and data.</p>
                Go to the <a href="#!/teams">Teams page</a>.
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <h2 class="text-center">Users <i class="ion-ios-person"></i></h2>
                <p>Manage the MCP users. Link them with their Teams.</p>
                Go to the <a href="#!/users">Users page</a>.
            </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="row">
                <h2 class="text-center">Topics <i class="ion-ios-chatboxes"></i></h2>
                <p>Manage the MCP topics. Link them with the relevant Teams.</p>
                Go to the <a href="#!/topics">Topics page</a>.
            </div>
        </div>
    </div>
