<ol class="breadcrumb">
    <li><a href="#!/home">Home</a></li>
    <li><a href="#!/teams">Teams</a></li>
    <li><a href="#!/teams/{{$ctrl.team.id}}">{{$ctrl.team.name}}</a></li>
    <li><a href="#!/teams/{{$ctrl.team.id}}">Groups</a></li>
    <li class="active">Create group</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <h1>Group create</h1>
        <p class="mcp-subtitle">Add a new <strong>group</strong> to <strong>{{$ctrl.team.name}}</strong> team.</p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form novalidate name="groupForm" ng-submit="$ctrl.save()">
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.name }">
                <label for="inputGroupName" class="control-label">Name</label>
                <input type="text" class="form-control" id="inputGroupName" placeholder="Name" name="name" ng-model="$ctrl.group.name">
                <p ng-show="$ctrl.errors.name" class="help-block">{{$ctrl.errors.name}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.description }">
                <label for="inputGroupDescription" class="control-label">Description</label>
                <input type="text" class="form-control" id="inputGroupDescription" placeholder="Description" name="description" ng-model="$ctrl.group.description">
                <p ng-show="$ctrl.errors.description" class="help-block">{{$ctrl.errors.description}}</p>
            </div>
            <hr/>
            <div class="form-group">
                <label for="inputGroupSms" class="control-label">SMS notification</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Activate group's member sms notification
                    </label>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <label for="inputGroupSms" class="control-label">Email notification</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Activate group's member email notification 
                    </label>
                </div>
            </div>
            <hr/>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.mailingList }">
                <label for="inputGroupMailingList" class="control-label">Mailing list notification</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.group.isMailingListRequired" ng-checked="$ctrl.group.isMailingListRequired" ng-change="$ctrl.manageMailField($ctrl.group.isMailingListRequired, 'mailingList')"> Send notification to Group mailing list
                    </label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" class="form-control" id="inputGroupMailingList" placeholder="Mailing list" name="mailingList" ng-model="$ctrl.group.mailingList" ng-disabled="!$ctrl.group.isMailingListRequired" />
                </div>
                <p class="help-block">If this field is compiled, then notifications are sent to this group, otherwise notifications are sent to each users of the group.</p>
                <p ng-show="$ctrl.errors.mailingList" class="help-block">{{$ctrl.errors.mailingList}}</p>
            </div>
            <hr/>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.facebookEmail }">
                <label for="inputGroupMailingList" class="control-label">Facebook notification</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.group.isFacebookEmailRequired" ng-checked="$ctrl.group.isFacebookEmailRequired" ng-change="$ctrl.manageMailField($ctrl.group.isFacebookEmailRequired, 'facebookEmail')"> Activate notifications on Facebook group
                    </label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="ion-social-facebook"></i></span>
                    <input type="text" class="form-control" id="inputGroupFacebookEmail" placeholder="Facebook mail group" name="facebookEmail" ng-model="$ctrl.group.facebookEmail" ng-disabled="!$ctrl.group.isFacebookEmailRequired" />
                </div>
                <p class="help-block">If this field is compiled, then notifications will be sent to Facebook group and then posted on it.</p>
                <p ng-show="$ctrl.errors.facebookEmail" class="help-block">{{$ctrl.errors.facebookEmail}}</p>
            </div>
            <hr/>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.twitterEmail }">
                <label for="inputGroupTwitterEmail" class="control-label">Twitter notification</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.group.isTwitterEmailRequired" ng-checked="$ctrl.group.isTwitterEmailRequired" ng-change="$ctrl.manageMailField($ctrl.group.isTwitterEmailRequired, 'twitterEmail')"> Activate notification on Twitter account
                    </label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="ion-social-twitter"></i></span>
                    <input type="text" class="form-control" id="inputGroupTwitterEmail" placeholder="Twitter mail group" name="twitterEmail" ng-model="$ctrl.group.twitterEmail" ng-disabled="!$ctrl.group.isTwitterEmailRequired" />
                </div>
                <p class="help-block">If this field is compiled, then notifications will be sent to Twitter account and then posted on it.</p>
                <p ng-show="$ctrl.errors.twitterEmail" class="help-block">{{$ctrl.errors.twitterEmail}}</p>
            </div>
            <hr/>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save <i class="glyphicon glyphicon-floppy-save"></i>
                </button>
            </div>
        </form>
    </div>
</div>