
    <ol class="breadcrumb">
        <li><a href="#!/home">Home</a></li>
        <li class="active">Teams</li>
    </ol>
    <div class="row ">
        <div class="col-md-9">
            <h1>Teams</h1>
            <p class="mcp-subtitle">Manage the MCP teams. Create new Teams, access their details and data.</p>
        </div>
        <div class="col-md-3 text-center add-button">
            <a class="btn btn-info" href="#!teams/create">Add Team <i class="glyphicon glyphicon-plus-sign"></i></a>
        </div>
        <div class="col-md-12">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-vcentered">
                <tr class="active">
                    <th>Name</th>
                    <th class="actions-column text-center">Actions</th>
                </tr>
                <tr ng-repeat="team in $ctrl.teams">
                    <td>{{team.name}}</td>
                    <td class="text-center">
                        <a href="#!/teams/{{team.id}}" class="btn btn-default btn-sm ">Details <i class="glyphicon glyphicon-edit"></i></a>
                        <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".mcp-modal-sm" ng-click="$ctrl.configureModal(team.id, 'delete')">Delete <i class="glyphicon glyphicon-minus-sign"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal fade mcp-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">{{$ctrl.modaltitle}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{$ctrl.modalmessage}}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.activateCommand()">{{$ctrl.modalbutton}}</button>
                </div>
            </div>
        </div>
    </div>
