<ol class="breadcrumb">
    <li><a href="#!/home">Home</a></li>
    <li><a href="#!/teams">Teams</a></li>
    <li class="active">Team create</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <h1>Team create</h1>
        <p class="mcp-subtitle">Add a new <strong>team</strong> to MCP.</p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form name="teamForm" ng-submit="$ctrl.save()">
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.name }">
                <label for="inputTeamName">Name</label>
                <input type="text" class="form-control" id="inputTeamName" placeholder="Name" name="name" ng-model="$ctrl.team.name" />
                <p ng-show="$ctrl.errors.name" class="help-block">{{$ctrl.errors.name}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.description }">
                <label for="inputTeamDescription">Description</label>
                <input type="text" class="form-control" id="inputTeamDescription" placeholder="Description" name="description" ng-model="$ctrl.team.description" />
                <p ng-show="$ctrl.errors.description" class="help-block">{{$ctrl.errors.description}}</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save <i class="glyphicon glyphicon-floppy-save"></i></button>
            </div>
        </form>
    </div>
</div>
