<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><span class="h3">MCP Role:</span>
                <a class="pull-right btn btn-info" href="#!roles/create">Add role <i class="glyphicon glyphicon-plus-sign"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr class="active">
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="role in $ctrl.roles">
                    <td>{{role.name}}</td>
                    <td><a href="#!/roles/{{role.id}}" class="btn btn-default btn-sm">Details <i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".mcp-modal-sm" ng-click="$ctrl.configureModal(role.id, 'delete')">Delete <i class="glyphicon glyphicon-minus-sign"></i></a></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="modal fade mcp-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">{{$ctrl.modaltitle}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12"><p>{{$ctrl.modalmessage}}</p></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.activateCommand()">{{$ctrl.modalbutton}}</button>
                </div>
            </div>
        </div>
    </div>

</div>