<ol class="breadcrumb">
    <li><a href="#!/home">Home</a></li>
    <li><a href="#!/teams">Teams</a></li>
    <li class="active">{{$ctrl.team.name}}</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <h1>Team: <strong>{{$ctrl.team.name}}</strong> <small>{{$ctrl.team.description}}</small></h1>
        <p class="mcp-subtitle">Access and manage all details of <strong>{{$ctrl.team.name}}</strong> team.</p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mcp-tabs-container">
        <uib-tabset active="$ctrl.activeTab">
            <uib-tab index="0" heading="Groups" select="$ctrl.findGroups()">
                <div class="row">
                    <div class="col-md-9">
                        <h3>Groups</h3>
                        <p class="mcp-subtitle">Access and manage all the Groups currently active on this Team.</p>
                    </div>
                    <div class="col-md-3 text-center add-button">
                        <a class="btn btn-info" href="#!teams/{{$ctrl.team.id}}/groups/create">Add Group <i
                        class="glyphicon glyphicon-plus-sign"></i></a>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover" ng-show="$ctrl.groups.length > 0">
                            <tr class="active">
                                <th>Name</th>
                                <th class="actions-column text-center">Actions</th>
                            </tr>
                            <tr ng-repeat="group in $ctrl.groups">
                                <td>{{group.name}}</td>
                                <td>
                                    <a href="#!teams/{{$ctrl.team.id}}/groups/{{group.id}}" class="btn btn-default btn-sm">Details
                        <i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".mcp-modal-sm" ng-click="$ctrl.configureModal(group.id, 'delete')">Delete <i
                            class="glyphicon glyphicon-minus-sign"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Users">
                <mcp-user></mcp-user>
            </uib-tab>
            <uib-tab index="2" heading="Topics">
                <mcp-topic></mcp-topic>
            </uib-tab>
            <uib-tab index="3" heading="Details">
                <div class="row">
                    <div class="col-md-12">
                        <h3><strong>{{$ctrl.team.name}}</strong> details</h3>
                        <p>Manage team details.</p>
                        <hr/>
                        <form novalidate name="teamForm" ng-submit="$ctrl.save()">
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.name }">
                                <label for="inputTeamName">Name</label>
                                <input type="text" class="form-control" id="inputTeamName" placeholder="Name" name="name" ng-model="$ctrl.team.name" />
                                <p ng-show="$ctrl.errors.name" class="help-block">{{$ctrl.errors.name}}</p>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.description}">
                                <label for="inputTeamDescription">Description</label>
                                <input type="text" class="form-control" id="inputTeamDescription" placeholder="Description" name="description" ng-model="$ctrl.team.description" />
                                <p ng-show="$ctrl.errors.description" class="help-block">{{$ctrl.errors.description}}</p>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Save <i class="glyphicon glyphicon-floppy-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
<div class="modal fade mcp-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">{{$ctrl.modaltitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{$ctrl.modalmessage}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.activateCommand()">{{$ctrl.modalbutton}}</button>
            </div>
        </div>
    </div>
</div>
