<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><span class="h3">MCP Role:</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" novalidate name="roleForm" ng-submit="$ctrl.save(roleForm.$valid)">
                <div class="form-group">
                    <label for="inputRoleName" class="col-sm-2 control-label">ID</label>

                    <div class="col-sm-10">
                        <span>{{$ctrl.role.id}}</span>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : roleForm.name.$invalid && !roleForm.name.$pristine && $ctrl.submitted }">
                    <label for="inputRoleName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputRoleName" placeholder="Name" name="name"
                               ng-model="$ctrl.role.name" required ng-minlength="3" ng-maxlength="64"/>

                        <p ng-show="roleForm.name.$invalid && !roleForm.name.$pristine && $ctrl.submitted " class="help-block">Name is
                            required.</p>

                        <p ng-show="roleForm.username.$error.minlength && $ctrl.submitted " class="help-block">Name is too short (min 3 chars).</p>

                        <p ng-show="roleForm.username.$error.maxlength && $ctrl.submitted " class="help-block">Name is too long (max 64 chars).</p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : roleForm.description.$invalid && !roleForm.description.$pristine && $ctrl.submitted }">
                    <label for="inputRoleDescription" class="col-sm-2 control-label">Description</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputRoleDescription" name="description"
                               placeholder="Description" ng-model="$ctrl.role.description " required ng-minlength="3"
                               ng-maxlength="64"/>

                        <p ng-show="roleForm.description.$invalid && !roleForm.description.$pristine && $ctrl.submitted "
                           class="help-block">Description is required.</p>

                        <p ng-show="roleForm.desciption.$error.minlength && $ctrl.submitted " class="help-block">Description is too
                            short (min 3 chars).</p>

                        <p ng-show="roleForm.description.$error.maxlength && $ctrl.submitted " class="help-block">Description is too
                            long (max 64 chars).</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Save <i
                                class="glyphicon glyphicon-floppy-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade mcp-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">{{$ctrl.modaltitle}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12"><p>{{$ctrl.modalmessage}}</p></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="$ctrl.activateCommand()">
                        {{$ctrl.modalbutton}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>