<ol class="breadcrumb">
    <li><a href="#!/home">Home</a></li>
    <li><a href="#!/teams">Teams</a></li>
    <li><a href="#!/teams/{{$ctrl.team.id}}">{{$ctrl.team.name}}</a></li>
    <li><a href="#!/teams/{{$ctrl.team.id}}">Groups</a></li>
    <li><a href="#!/teams/{{$ctrl.team.id}}/groups/{{$ctrl.group.id}}">{{$ctrl.group.name}}</a></li>
    <li class="active">Create rule</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <h1>Create a new Rule</h1>
        <p class="mcp-subtitle">Add a new <strong>Rule</strong> to the group <strong>{{$ctrl.group.name}}</strong></p>
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.name }">
                <label for="inputRoleName" class="control-label">Rule name</label>
                <input type="text" class="form-control" id="inputRoleName" placeholder="Name" name="name" ng-model="$ctrl.rule.name" />
                <p ng-show="$ctrl.errors.name" class="help-block">{{$ctrl.errors.name}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.description }">
                <label for="inputRoleDescription" class="control-label">Rule description</label>
                <input type="text" class="form-control" id="inputRoleDescription" placeholder="Description" name="description" ng-model="$ctrl.rule.description" />
                <p ng-show="$ctrl.errors.description" class="help-block">{{$ctrl.errors.description}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors.topicIds }">
                <hr/>
                <label for="inputTopics" class="control-label">Rule topics</label>
                <div class="well well-sm">Please select the topics for this rule.</div>
                <div class="checkbox mcp-checkbox" ng-repeat="topic in $ctrl.topics">
                    <label>
                        <input type="checkbox" ng-click="$ctrl.toggle($ctrl.rule.topicIds, topic.id)"> {{topic.name}}
                    </label>
                </div>
                <p ng-show="$ctrl.errors.topicIds" class="help-block">{{$ctrl.errors.topicIds}}</p>
            </div>
            <div class="form-group">
                <hr/>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.errors['ruleExec.functions'] }" style="margin: 30px 0 30px;">
                <label class="control-label">Add a filtering function:&nbsp;&nbsp;</label>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.addSeverityFunction()">Severity Function <i class="glyphicon glyphicon-plus-sign"></i></button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.addContentFunction()">Content Function <i class="glyphicon glyphicon-plus-sign"></i></button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.addRegExFunction()">Regular Expression Function <i class="glyphicon glyphicon-plus-sign"></i></button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.addAreaFunction()">Area Function <i class="glyphicon glyphicon-plus-sign"></i></button>
                </div>
                <p ng-show="$ctrl.errors['ruleExec.functions']" class="help-block">{{$ctrl.errors['ruleExec.functions']}}</p>
            </div>

            <div class="form-group" ng-repeat="function in $ctrl.rule.ruleExec.functions">
                <!-- Severity function -->
                <label class="control-label" ng-if="function['@class'] == 'org.c2sense.mcp.rulengine.spi.functions.SeverityFunction'">Message severity:</label>
                <div ng-if="function['@class'] == 'org.c2sense.mcp.rulengine.spi.functions.SeverityFunction'">
                    <div class="well well-sm">Please select a severity level.</div>
                    <div class="col-xs-9">
                        <select ng-model="function.configuration.severity" class="form-control">
                            <option value="EXTREME">Extreme</option>
                            <option value="SEVERE">Severe</option>
                            <option value="MODERATE">Moderate</option>
                            <option value="MINOR">Minor</option>
                            <option value="UNKNOWN_SEVERITY">Unknown severity</option>
                        </select>
                    </div>
                    <button class="btn btn-danger btn-sm" ng-click="$ctrl.deleteFunction($index)">Delete <i class="glyphicon glyphicon-minus-sign"></i></button>
                    <p ng-show="$ctrl.errors['ruleExec.functions['+$index+'].configuration.severity']" class="help-block has-error">{{$ctrl.errors['ruleExec.functions['+$index+'].configuration.severity']}}</p>
                </div>
                <!-- Severity function -->
                <!-- ================ -->
                <!-- Content function -->
                <label class="control-label" ng-if="function['@class'] == 'org.c2sense.mcp.rulengine.spi.functions.ContentFunction'">Message expression:</label>
                <div ng-if="function['@class'] == 'org.c2sense.mcp.rulengine.spi.functions.ContentFunction'">
                    <div class="well well-sm">Plese fill the input with a message to watch.</div>
                    <div class="col-xs-9">
                        <input ng-model="function.configuration.expression" placeholder="Expression" class="form-control" />
                    </div>
                    <button class="btn btn-danger btn-sm" ng-click="$ctrl.deleteFunction($index)">Delete <i class="glyphicon glyphicon-minus-sign"></i></button>
                    <p ng-show="$ctrl.errors['ruleExec.functions['+$index+'].configuration.expression']" class="help-block has-error">{{$ctrl.errors['ruleExec.functions['+$index+'].configuration.expression']}}</p>
                </div>
                <!-- Content function -->
                <!-- ================ -->
                <!-- RegEx function -->
                <label class="control-label" ng-if="function['@class'] == 'org.c2sense.mcp.rulengine.spi.functions.RegexFunction'">Regular expression:</label>
                <div ng-if="function['@class'] == 'org.c2sense.mcp.rulengine.spi.functions.RegexFunction'">
                    <div class="well well-sm">Plese fill the input with a regular expression.</div>
                    <div class="col-xs-9">
                        <input ng-model="function.configuration.regEx" placeholder="Regular Expression" class="form-control" />
                    </div>
                    <button class="btn btn-danger btn-sm" ng-click="$ctrl.deleteFunction($index)">Delete <i class="glyphicon glyphicon-minus-sign"></i></button>
                    <p ng-show="$ctrl.errors['ruleExec.functions['+$index+'].configuration.regEx']" class="help-block has-error">{{$ctrl.errors['ruleExec.functions['+$index+'].configuration.regEx']}}</p>
                </div>
                <!-- RegEx function -->
                <!-- ================ -->
            </div>
            <div ng-class="{'form-group': true, hidden: !$ctrl.areaFunctionAdded}">
                <!-- Area function -->
                <label>Area function:</label>
                <div class="well well-sm">Please fill the latitude, longitude, radius inputs.</div>
                <div id="map"></div>
                <!-- Area function -->
                <a class="btn btn-danger btn-sm" ng-click="$ctrl.deleteAreaFunction()">Delete <i class="glyphicon glyphicon-minus-sign"></i></a>
                <p ng-show="$ctrl.errors['ruleExec.functions['+($ctrl.rule.ruleExec.functions.length - 1)+'].configuration.polygons']" class="help-block has-error">{{$ctrl.errors['ruleExec.functions['+($ctrl.rule.ruleExec.functions.length - 1)+'].configuration.polygons']}}</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" ng-click="$ctrl.create()">Save <i class="glyphicon glyphicon-floppy-save"></i></button>
            </div>
        </form>
    </div>
</div>